
#circle{
    height:200px;
    width:200px;
   border-radius: 50%;
   background-color:orangered ;
}
.eye{
    height:25px;
    width:25px;
    background-color: black;
    border-radius: 50%;
  display:inline-block;
  position: absolute;
  right: 5px;
}
#first{
    position: absolute;
    left:43.5px;
    top:50px;
    left:43.5;
}
#second{
    position: absolute;
    left:43.5px;
    top:50px;
    left:150.5px;
}


#mouth{
    height: 40px;
    width: 125px;
    background-color: brown; 
     position: absolute;
     top: 120px;
     left:43.5px;
     border-bottom-left-radius: 50px;
     border-bottom-right-radius: 50px;
    
}
